# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Here are the answers:

1. **b.** A member of the land-owning aristocracy in Rome.
2. **d.** Christianity
3. **a.** prohibited from inheriting property by traditional means, except when they were specifically named in someone's will.
4. **b.** Tarquinii
5. **c.** Assembly
6. **c.** Villa
7. **b.** Persian War
8. **c.** Greek art.
9. **d.** Concrete
10. **b.** questioning everything to arrive at an agreeable conclusion.
11. **c.** Athens was hit by a major plague and Sparta was unwilling to risk contact with their diseased enemy.
12. **d.** a Greek soldier.
13. **b.** indoors
14. **c.** To limit the power of each branch of government.
15. **a.** Bath
16. **c.** Greeks and Romans.
17. **d.** poor
18. **c.** Fulvia
19. **b.** polytheism
20. **c.** Alcibiades, the Athenian military general led a huge Athenian expeditionary force to Syracuse, a friend of Sparta.
21. **b.** The Romans did not believe, as we do today, that to have a copy of an artwork was of any less value that to have the original.
22. **a.** I am from Sparta.
23. **a.** Comedy and Tragedy.
24. **b.** their tombstones.
25. **b.** Its treasury was kept on the sacred island of Delos.
26. **a.** Constantine
27. **b.** negative and it was regarded with suspicion.
28. **c.** kouros
29. **c.** Socrates' defense during his trial.
30. **c.** Cleopatra of Egypt
31. **b.** Zama
32. **a.** Navy
33. **c.** oligarchy
34. **b.** epic poetry.
35. **d.** Macedon
36. **a.** It was fought because of dissatisfaction with Spartan policies in the aftermath of the Peloponnesian war
37. **d.** 509 BCE.
38. **b.** The Assembly of Athens
39. **a.** Romulus
40. **b.** elder council of men called the Gerousia and the five magistrates called Ephors.