ELASTIC_PASSWORD='Test'
KIBANA_PASSWORD='Test'

# Run this cmd:
docker exec vault vault kv put secret/app \
  JWT_SECRET='breakingPong_123!@' \
  JWT_REFRESH='breakingPong_Refresh_123!@' \
  COOKIE_SECRET='superSecretCookieKey!@' \
  ELASTIC_PASSWORD='changeme' \
  KIBANA_PASSWORD='changeme' \
  EMAIL_USER='ouaouriktsoulaymane@gmail.com' \
  EMAIL_PASSWORD='ynyr itsc mvvo wrmm'