@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Outfit';
}

@media (max-width: 900px) {
  .scoreboard {
    flex-direction: column !important;
    height: auto !important;
  }
}


html, body {
  height: 100%;
  overflow: hidden;
}

